* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 500px;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh
}

#css-style {
    /* width: 300px; */
    /* height: 100px; */
    padding: 1em;
    border: 1px solid red;
}

#caixa {
    width: 200px;
    height: 100px;
    border: 2px solid rgb(0, 225, 255);
    position: relative;
    overflow: visible;
}

#top-right,
#top-left,
#bottom-right,
#bottom-left {
    -webkit-appearance: none;
    position: relative;
    background-color:rgba(255, 255, 255, 0);
    width:90px
}

#top-right {
    bottom: 9px;
    left: 10px;
    
}
#top-left {
    /* background-color: red; */
    bottom: 9px;
    right: -5px;
    transform: rotate(180deg);
}
#bottom-left {
    top: 73px;
    right: -5px;
    transform: rotate(180deg);
}
#bottom-right {
    top: 73px;
    left: 10px;
}